apiVersion: v1
kind: Service
metadata:
  name: gateway
spec:
  type: {{ .Values.service.type }}
  selector:
    app: gateway
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8080
      name: http


