apiVersion: v1
kind: Service
metadata:
  name: notification
spec:
  type: {{ .Values.service.type }}
  selector:
    app: notification
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8085
      name: http
