@import url(//codepen.io/chrisdothtml/pen/ojLzJK.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    height: 80px;
    background: linear-gradient(90deg, rgba(163, 171, 226, 1) 41%, rgba(255, 254, 254, 1) 100%);
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

.headpage {
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav {
    position: sticky;
    z-index: 1000;
}
.navmenu {
    all: unset;
    display: flex;
    position: relative;
}

.navmenu a {
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    transition: all .42s ease;
}

.navmenu a:hover {
    color: #3f0f76;
}

.navmenu li {
    position: relative;
}

.navmenu .drop-down {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.navmenu .drop-down li {
    float: none;
}

.navmenu .drop-down a {
    color: black;
    padding: 10px 12px;
    display: block;
    text-align: left;
}

.navmenu .drop-down a:hover {
    background-color: #ddd;
}

.navmenu li:hover .drop-down {
    display: block;
}

i {
    color: lightslategrey;
    transform: scale(250%);
    transform-origin: center;
}

i:hover {
    color: black;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: center;
}

:root {
    --clr-primary: #6aeeb5;
    --clr-primary-hover: #29e6a7;
    --clr-primary-dark: #039d69;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;
    --clr-gray300: #a7b7be;
    --clr-gray400: #6b7e86;
    --clr-gray500: #425a65;
    --radius: 0.2rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
    background: var(--clr-gray100);
}

.nav__list {
    user-select: none;
    background: white;
    box-shadow: 0px 0px 10px var(--clr-gray200);
    padding: 1rem 0;
    width: 7rem;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .nav__item {
        list-style: none;
        position: relative;
        z-index: 1000;
        &:first-child {
            margin-bottom: 2rem;
        }

        &:last-child {
            margin-top: 1rem;
        }

        &::before {
            content: attr(data-tooltip);
            position: absolute;
            left: 4rem;
            top: -0.25rem;
            background: var(--clr-gray500);
            color: white;
            padding: 0.8rem;
            border-radius: var(--radius);
            transition: all 200ms ease-in;
            opacity: 0;
            pointer-events: none;
        }

        &:hover::before {
            opacity: 1;
            left: 4.5rem;
        }
    }
}

ul {
    list-style-type: none;
}

/*.chat-container.active {*/
/*    right: 0;*/
/*}*/


li {
    float: left;
    display: inline;
    padding: 20px;
}

li a {
    color: black;
    transition: all .42s ease;
}

a:hover {
    color: red;
}

.container-main {
    display: grid;
    gap: 10px;
    padding: 20px;
    margin: 10px 400px 10px 150px;
}

.display-main {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    user-select: none;
}

.book-list {
    user-select: none;
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    max-width: 1050px;
    height: auto;
}

.scroll-content {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    max-width: 100%;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.scroll-content::-webkit-scrollbar {
    display: none;
}

.scroll-content {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.book-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 auto;
    width: auto;
    height: auto;
    word-wrap: break-word;
    border: none;
    border-radius: 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.tile {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    margin: 0 0 20px 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

.tile img {
    display: block;
    width: 100%;
    min-height: 230px;
    object-fit: cover;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.tile .details {
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.tile:hover .details {
    opacity: 1;
}

.tile .details .info {
    font-size: 17px;
    color: #fff;
    text-align: left;
    word-wrap: break-word;
    padding: 5px 5px 8px 10px;
}

.book-number {
    position: absolute;
    top: -10px;
    left: 0;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    padding: 0;
    border-radius: 5px;
    z-index: 5;
    -webkit-text-stroke: 2px black;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    gap: 10px;
}

.borrow-btn {
    background-color: #8f9bf5;
    color: white;
    border: none;
    padding: 4px 5px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
}

.borrow-btn:hover {
    background-color: #818fff;
}


.actions > i {
    color: #333;
    transform: scale(1.3);
    display: inline-block;
    margin-top: 0;
    cursor: pointer;
}

.scroll-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.scroll-btn.left {
    margin-right: 10px;
}

.scroll-btn.right {
    margin-left: 10px;
}

.scroll-btn:hover {
    color: #ccc;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    user-select: none;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
    border: 1px solid #ccc;
}

.category:hover {
    background-color: #d3d3d3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.container-book {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #f5f5f5;
    padding: 10px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.book-display {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.book-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.book-info {
    margin-top: 10px;
}

.book-title {
    font-size: 16px;
    font-weight: bold;
}

.book-author, .book-description {
    font-size: 14px;
    color: #555;
}


input[type="text"] {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background: #ffffff4f;
    padding: 10px 15px;
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 1px;
}

button[type="submit"]:hover {
    background-color: #4cae4c;
}

.bx-heart.favorited {
    color: red;
}

ul {
    list-style-type: none;
    padding: 0;
}

.book-item {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.book-cover {
    width: 120px;
    height: 180px;
    border-radius: 4px;
    margin-right: 20px;
}

.book-details {
    flex: 1;
}

.book-details h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.book-details p {
    margin: 5px 0;
}

.tag {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 0.9em;
    margin-right: 5px;
}

hr {
    border: 0;
    height: 1px;
    background: #eee;
    margin: 20px 0;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a {
    color: #007bff;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #007bff;
    color: #fff;
}

.pagination span {
    font-size: 1.1em;
    margin: 0 5px;
}

.empty-message {
    text-align: center;
    color: #888;
    font-size: 1.2em;
    margin-top: 50px;
}

/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100vh;*/
/*    margin: 0;*/
/*    background-color: #f0f0f0;*/
/*}*/

.chat-container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    display: flex;
    /*align-items: center;*/
}

.chat {
    align-items: center;
    align-self: center;
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.chat-box {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fafafa;
}

.message {
    margin-bottom: 10px;
}

.user-message {
    text-align: left;
}

.bot-message {
    text-align: left;
}

.input-form {
    display: flex;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    margin-left: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
