.chat-container {
    position: fixed;
    right: -600px;
    width: 21%;
    top: 11%;
    height: 100%;
    background-color: #f9f9f9;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow: hidden;
    transition: right 0.3s ease-in-out;
    border-radius: 1rem;
    padding: 2rem;
}

.chat-container.active {
    right: 0;
}

.chat-box {
    max-height: 33rem;
    overflow-y: auto;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-message {
    justify-content: flex-end;
}

.bot-message {
    justify-content: flex-start;
}

form {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    display: flex;
    padding: 10px;
}

.input-form {
    display: flex;
    align-items: center;
}

.input-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.input-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.input-form button:hover {
    background-color: #0056b3;
}