.btn {
    cursor: pointer;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background: transparent;
    color: #26B4FF;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background: rgba(0, 0, 0, 0);
    color: #4E5155;
}

.text-center {
    text-align: center !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.list-group-item-action {
    cursor: pointer;
}

.list-group-item.active {
    color: #4e5155 !important;
    font-weight: bold !important;
    background: transparent !important;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
#submitBtn:hover {
    background-color: #8eb899; /* Màu nền khi hover (xanh nhạt hơn) */
    color: #fff; /* Màu chữ giữ nguyên */
    cursor: pointer; /* Thêm hiệu ứng con trỏ */
}

.form-group {
    margin-bottom: 1rem;
}

.form-group input.form-control {
    width: 500px;
}

.container {
    max-width: 50%;
    margin: 2% auto;
    padding: 15px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.card-us {
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
    margin-bottom: 20px;
}

.alert {
    margin-bottom: 1rem;
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: #ffefc1;
    color: #856404;
}

.alert-warning {
    background-color: #ffeeba;
    border-color: #ffeeba;
    color: #856404;
}

form > button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.img-fluid {
    border-radius: 50%;
}