/* Style for modal overlay */
th:nth-child(1), td:nth-child(1) {
    width: 10%;
}

th:nth-child(2), td:nth-child(2) {
    width: 23%;
}

th:nth-child(3), td:nth-child(3) {
    width: 23%;
}

th:nth-child(4), td:nth-child(4) {
    width: 23%;
}

th:nth-child(5), td:nth-child(5) {
    width: 12%;
}

th:nth-child(6), td:nth-child(6) {
    width: 14%;
}

.modal-overlay-user {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-user-box {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.modal-user-box form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-user-box label {
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
}

.modal-user-box input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-user-box button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-user-box button[type="submit"] {
    background-color: #4caf50;
    color: white;
}

.modal-user-box button[type="button"] {
    background-color: #f44336;
    color: white;
}

.modal-buttons button:hover {
    opacity: 0.8;
}

.edit-icon,
.delete-icon {
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-icon {
    color: #4caf50;
}

.delete-icon {
    color: #f44336;
}