<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>User Frame</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/frame.css">
    <link rel="stylesheet" href="/css/favourites.css">
    <link rel="stylesheet" href="/css/book-list.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="/js/frame.js"></script>
</head>
<body>
<header class="headpage">
    <ul class="navmenu">
        <li><a href="/books">HOME</a></li>
        <li><a href="#">GENRES&nbsp;<i class='bx bxs-down-arrow' style="transform: scale(0.7);"></i></a>
            <ul class="drop-down">
                <li><a href="#comics">Comics</a></li>
                <li><a href="#romantic">Romantic</a></li>
                <li><a href="#novels">Novels</a></li>
                <li><a href="#action">Action</a></li>
                <li><a href="#literature">Literature</a></li>
                <li><a href="#technology">Technology</a></li>
            </ul>
        </li>
        <li><a href="/users/favourites">FAVORITE</a></li>
        <li><a href="/game">GAME</a></li>

        <li id="adminRole"><a href="/admin">ADMIN</a></li>
        <li id="adminapiRole"><a href="/books/api">API</a></li>
<!--        <li id="userRole" style="display: none;"><span th:text="${user.role}"></span></li>-->
    </ul>
    <ul class="navmenu">
        <li style="width: 260px">
            <form action="/books/search" method="get">
                <input
                        type="text"
                        style="padding-left: 10px; font-size: 14px;"
                        id="searchBook"
                        name="title"
                        placeholder="Search books..."
                >
                <button type="submit">
                    <i class='bx bx-search' style="transform: scale(1.5);"></i>
                </button>
            </form>
        </li>
        <li style="position: relative; height: 100%; margin-top: 8px; padding-left: 0;">
            <a href="/users/profile"><i class='bx bx-user-circle' style="transform: scale(1.5);"></i></a>
        </li>
    </ul>
</header>
<nav>
    <ul class="nav__list">
        <li class="nav__item" data-tooltip="Home">
            <a href="/books">
                <i class='bx bx-home-alt'></i>
            </a>
        </li>
        <li class="nav__item" data-tooltip="Favorite">
            <a href="/users/favourites">
                <i class='bx bx-book-heart'></i>
            </a>
        </li>
        <li class="nav__item" data-tooltip="History">
            <a href="/users/borrow-history">
                <i class='bx bx-history'></i>
            </a>
        </li>
        <li class="nav__item" data-tooltip="Chatbot">
            <a href="/chat/bot">
                <i class='bx bx-bot'></i>
            </a>
        </li>
        <li class="nav__item" data-tooltip="Chat">
            <i class='bx bx-chat'></i>
        </li>
        <br>
        <li class="nav__item" data-tooltip="Account">
            <a href="/users/profile">
                <i class='bx bx-user-circle'></i>
            </a>
        </li>
        <li class="nav__item" data-tooltip="Logout">
            <a href="/logout">
                <i class='bx bx-log-out'></i>
            </a>
        </li>
    </ul>
    <div th:replace="~{chat :: body}"></div>
    <script>
        // JavaScript code to handle toggle
        const chatButton = document.querySelector('.nav__item[data-tooltip="Chat"]');
        const chatContainer = document.querySelector('.chat-container');

        chatButton.addEventListener('click', () => {
            chatContainer.classList.toggle('active');
        });
    </script>

</nav>
<script src="/js/frame.js"></script>
</body>
</html>