<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" href="/css/favourites.css">
    <link rel="stylesheet" href="/css/book-list.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
<header th:replace="~{frame :: header}"></header>
<nav>
    <ul class="nav__list">
        <li class="nav__item" data-tooltip="Home">
            <a href="/admin">
                <i class='bx bx-home-alt'></i>
            </a>
        </li>
        <li class="nav__item" data-tooltip="Total-book">
            <a href="/admin/total-book">
                <i class='bx bx-book'></i>
            </a>
        </li>
        <li class="nav__item" data-tooltip="Total-user">
            <a href="/admin/users">
                <i class='bx bxs-user-rectangle'></i>
            </a>
        </li>
        <li class="nav__item icon-container" id="addBookIcon" data-tooltip="Add-book">
            <a>
                <i class='bx bx-book-add'></i>
            </a>
        </li>
        <li class="nav__item" data-tooltip="Total-borrow">
            <a href="/admin/total-borrow">
                <i class='bx bx-book-alt'></i>
            </a>
        </li>
        <li class="nav__item" data-tooltip="Logout">
            <a href="/logout">
                <i class='bx bx-log-out'></i>
            </a>
        </li>
    </ul>
    <div class="modal-overlay" id="addBookModal">
        <div class="modal-box">
            <h3>Add New Book</h3>
            <form id="addBookForm" style="display: flex;flex-direction: column;">
                <label for="bookId">Book ID:</label>
                <input type="text" id="bookId" name="bookId" required="">

                <label for="bookTitle">Title:</label>
                <input type="text" id="bookTitle" name="bookTitle" required="">

                <label for="bookGenres">Genres:</label>
                <input type="text" id="bookGenres" name="bookGenres" required="">

                <label for="bookImage">Image:</label>
                <input type="file" id="bookImage" name="bookImage" accept="image/*">

                <button type="submit">Add to List</button>
                <button type="button" id="closeModal">Cancel</button>
            </form>
        </div>
    </div>

    <script src="/js/addbook.js"></script>

</nav>
</body>
</html>