<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Vault</title>

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/chat.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

</head>
<body>
    <header>
        <ul class="navmenu">
            <li><a href="#home">HOME</a></li>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#contact">CONTACT</a></li>
        </ul>
        <ul class="navmenu">
            <li><a href="/login" class="text-register">LOG IN</a></li>
            <li><a href="/register" class="text-register">SIGN UP</a></li>
        </ul>
    </header>

    <section id="home" class="main-home container">
        <div class="video-background">
        <video autoplay loop muted playsinline>
            <source src="/media/video/home.mp4" type="video/mp4">
        </video>
        </div>
        <div class="main-text box1">
            <h1>BOOK VAULT <br> LIBRARY <br> MANAGEMENT <br> SYSTEM </h1>

            <a href="/login" class="main-btn">Log in<i class='bx bx-right-arrow-alt'></i></a>
        </div>

        <div class="features box2">
            <ul>
                <li><i class='bx bx-check'></i>A lms helps organize resources systematically</li>
                <li><i class='bx bx-check'></i>Automated cataloging, check processes save time</li>
                <li><i class='bx bx-check'></i>It helps libraries monitor their resources</li>
            </ul>
        </div>
    </section>

    <section>
        <div id="about" class="about-me-container">
            <div class="about-me-box">
                <div class="about-me-content">
                    <h style="font-size: 5rem">About Me</h>
                    <p>
                        Welcome to the Library Management System!
                        This platform helps you efficiently organize, track,
                        and manage your library collection.
                    </p>
                    <h2>Library Management System Project by SCAR</h2>

                    <h2>Introduction:</h2>
                    <ul style="list-style-type:circle;">
                        <li>A library management application designed to manage books, users, borrow/return transactions, real-time statistics, and reports.</li>
                        <li>The application is primarily developed in Java using the Spring Boot framework, Hibernate, MySQL, HTML, CSS, (JavaScript), and Bootstrap.</li>
                        <li>It is built based on the MVC (Model-View-Controller) design pattern.</li>
                        <li>The app features an integrated game and multi-threading for an enhanced user experience.</li>
                    </ul>

                    <h2>Feature Details:</h2>
                    <div class="container-about">
                        <div class="section">
                            <h3>Book Management:</h3>
                            <ul  style="list-style-type:circle;">
                                <li>Add new books</li>
                                <li>Delete books</li>
<!--                                <li>Edit book information</li>-->
                                <li>Search for books in the library</li>
                                <li>Search for books using the Google Books API</li>
                                <li>View book lists</li>
                                <li>Generate book statistics</li>
                            <h3>User Management:</h3>

                            <ul  style="list-style-type:circle;">
                                <li>Add new users</li>
                                <li>Delete users</li>
                                <li>Edit user information</li>
                                <li>Search for users</li>
                                <li>View user lists</li>
                                <li>Generate user statistics</li>
                            </ul>
                        </div>

                        <div class="section" style="border-left: 2px solid #007BFF; padding-left: 10%;">
                            <h3>For Users:</h3>
                            <ul  style="list-style-type:circle;">
                                <li>Borrow books</li>
                                <li>Return books</li>
                                <li>View and edit account information</li>
                                <li>Change password</li>
                                <li>Log in / Log out</li>
                                <li>Register a new account</li>
                                <li>Search for books</li>
                                <li>Create a favorites list</li>
                                <li>View borrowed books</li>
                            </ul>
                        </div>
                    </div>
                    <h3>Other Key Features:</h3>
                    <ul  style="list-style-type:circle;">
                        <li><strong>Game:</strong> A book title guessing game with hints</li>
                        <li><strong>Google Books API:</strong> Search for books using the Google Books API</li>
                        <li><strong>Spring Security:</strong> Application security</li>
                        <li><strong>OAuth2 Authentication:</strong> Login with Google / GitHub</li>
                        <li><strong>Spring Websocket:</strong> Enables user-to-user chat</li>
                        <li><strong>Spring Async:</strong> Integrated multi-threading for a smoother experience</li>
                        <li><strong>Google Cloud Storage API:</strong> Store image data on Google Cloud Storage and save paths to the database</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div id="contact" class="contact-container">
            <div class="contact-item" style="width: 70%">
                <img src="/media/image/avt1.jpg" alt="Đóng góp 85%" class="contact-icon">
                <p>LEADER<br>Phạm Anh Tuấn<br>  phone: 035 410 9318<br> Mail: 23021709@vnu.edu.vn</p>
            </div>
            <div class="contact-item" style="width: 50%">
                <img src="/media/image/avt2.jpeg" alt="Đóng góp 10%" class="contact-icon">
                <p><br>Trương Mạnh Khiêm <br> phone: 0375 603 357<br> Mail: khiemm@gmail.com</p>
            </div>
            <div class="contact-item" style="width: 50%">
                <img src="/media/image/avt3.jpg" alt="Đóng góp 5%" class="contact-icon">
                <p><br>Trần Chiến Thắng <br> phone: 091 870 8888<br> Mail: tct@gmail.com</p>
            </div>
        </div>
    </section>
</body>
</html>