<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Vault - User Profile</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>

    <link rel="stylesheet" href="/css/book-list.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>

<body>
<!--<header class="headpage">-->
<!--    <ul class="navmenu">-->
<!--        <li><a href="/books">HOME</a></li>-->
<!--        <li><a href="#">GENRES&nbsp;<i class='bx bxs-down-arrow' style="transform: scale(0.7);"></i></a>-->
<!--            <ul class="drop-down">-->
<!--                <li><a href="#comics">Comics</a></li>-->
<!--                <li><a href="#romantic">Romantic</a></li>-->
<!--                <li><a href="#novels">Novels</a></li>-->
<!--                <li><a href="#action">Action</a></li>-->
<!--                <li><a href="#literature">Literature</a></li>-->
<!--                <li><a href="#technology">Technology</a></li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        <li><a href="/users/favourites">FAVORITE</a></li>-->
<!--        <li><a href="/game">GAME</a></li>-->

<!--        <li id="adminRole"><a href="/admin">ADMIN</a></li>-->
<!--        <li id="adminapiRole"><a href="/books/api">API</a></li>-->
<!--        <li id="userRole" style="display: none;"><span th:text="${user.role}"></span></li>-->
<!--    </ul>-->
<!--    <ul class="navmenu">-->
<!--        <li style="width: 260px">-->
<!--            <form action="/books/search" method="get">-->
<!--                <input-->
<!--                        type="text"-->
<!--                        style="padding-left: 10px; font-size: 14px;"-->
<!--                        id="searchBook"-->
<!--                        name="title"-->
<!--                        placeholder="Search books..."-->
<!--                >-->
<!--                <button type="submit">-->
<!--                    <i class='bx bx-search' style="transform: scale(1.5);"></i>-->
<!--                </button>-->
<!--            </form>-->
<!--        </li>-->
<!--        <li style="position: relative; height: 100%; margin-top: 8px; padding-left: 0;">-->
<!--            <a href="/users/profile"><i class='bx bx-user-circle' style="transform: scale(1.5);"></i></a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</header>-->
<div th:replace="~{frame :: body}"></div>

<div class="container">
    <section>
        <div class="container-intro">
            <section>
                <h1>WELCOME SCAR</h1>
                <p>Explore, discover, and enjoy your reading journey with SCARlms!</p>
            </section>
            <section>
                <h2 style="text-align: center;">This is my monthly calendar</h2>
                <div class="calendar">
                    <div class="header">Sun</div>
                    <div class="header">Mon</div>
                    <div class="header">Tue</div>
                    <div class="header">Wed</div>
                    <div class="header">Thu</div>
                    <div class="header">Fri</div>
                    <div class="header">Sat</div>

                    <div class="day">1</div>
                    <div class="day">2</div>
                    <div class="day">3</div>
                    <div class="day">4</div>
                    <div class="day">5</div>
                    <div class="day">6</div>
                    <div class="day">7</div>
                    <div class="day">8</div>
                    <div class="day">9</div>
                    <div class="day">10</div>
                    <div class="day">11</div>
                    <div class="day">12</div>
                    <div class="day">13</div>
                    <div class="day">14</div>
                    <div class="day">15</div>
                    <div class="day">16</div>
                    <div class="day">17</div>
                    <div class="day">18</div>
                    <div class="day">19</div>
                    <div class="day">20</div>
                    <div class="day">21</div>
                    <div class="day">22</div>
                    <div class="day">23</div>
                    <div class="day">24</div>
                    <div class="day">25</div>
                    <div class="day">26</div>
                    <div class="day">27</div>
                    <div class="day">28</div>
                    <div class="day">29</div>
                    <div class="day">30</div>
                    <div class="day">31</div>
                </div>
            </section>
        </div>
    </section>
    <section>
        <div class="container_profile" style="align-content: center;">
            <section>
                <div class="container_image">
                    <div class="profile-picture">
                        <img th:src="${user.profilePictureUrl}" alt="Profile Picture" th:if="${user.profilePictureUrl != null}">
                    </div>
                    <p th:if="${user.profilePictureUrl == null}">No profile picture uploaded yet.</p>
                    <div style="margin-top: 10px; text-align: center;">
                        <form action="/users/profile/edit" method="get">
                            <button type="submit" class="btn" style="margin-left: -5px;">Edit Profile</button>
                        </form>
                    </div>
                </div>
            </section>

            <section style="padding-top: 40px;">
                <h><strong>Username: </strong><span th:text="${user.username}"></span></h>
                <br></br>
                <h><strong>Display name: </strong><span th:text="${user.displayName}"></span></h>
                <br></br>
                <h><strong>Email: </strong><span th:text="${user.email}"></span></h>
                <br></br>
                <h><strong>About me: </strong><span th:text="${user.aboutMe}"></span></h>
                <br></br>
            </section>

            <section class="card" style="margin: auto">
                <div class="content">
                    <p class="number" th:text="${borrowCount}">30</p>
                    <p class="label" style="font-size: 30px;">Total borrowed books</p>
                </div>
                <button class="btn" onclick="window.location.href='/users/borrow-history';">Go to Borrow History</button>
            </section>

            <section class="card" style="margin: auto">
                <div class="content">
                    <p class="number" th:text="${favouriteCount}">30</p>
                    <p class="label" style="font-size: 30px;">Total favourite books</p>
                </div>
                <button class="btn" onclick="window.location.href='/users/favourites';">Go to Favorites</button>
            </section>
        </div>
    </section>
</div>

<script src="/js/profile_calendar.js"></script>
<li id="userRole" style="display: none;"><span th:text="${user.role}"></span></li>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const adminMenuItem = document.getElementById("adminRole");
        const adminApiMenuItem = document.getElementById("adminapiRole");
        const userRole = document.getElementById("userRole");

        if (!adminMenuItem || !adminApiMenuItem || !userRole) {
            console.error("One or more elements not found. Check IDs in HTML.");
            return;
        }

        // Lấy nội dung của userRole
        const roleText = userRole.textContent.trim();

        // Hiển thị adminMenuItem và adminApiMenuItem chỉ khi role là ADMIN
        if (roleText !== "ADMIN") {
            adminMenuItem.style.display = "none";
            adminApiMenuItem.style.display = "none";
        }
    });
</script>
</body>
</html>