<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Vault - Register</title>

    <link rel="stylesheet" href="/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

</head>
<body>
<header>
    <ul class="navmenu">
        <li><a th:href="@{/home}">HOME</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">CONTACT</a></li>
    </ul>
    <ul class="navmenu">
        <li><a th:href="@{/login}" class="text-register">LOG IN</a></li>
        <li><a th:href="@{/register}" class="text-register">REGISTER</a></li>
    </ul>
</header>
<div class="container">
    <h2>User Registration</h2>
    <br>

    <div th:if="${error}" class="error-message" style="color: red;" th:text="${error}"></div>

    <form th:action="@{/register}" method="post" class="form-group" th:object="${user}">
        <label>Username*
            <input type="text" th:field="*{username}" placeholder="username" required>
        </label>

        <label>Password*
            <input type="password" th:field="*{password}" placeholder="with8char" required>
        </label>

        <label>Display Name*
            <input type="text" th:field="*{displayName}" placeholder="BookVault" required>
        </label>

        <label>Email*
            <input type="email" th:field="*{email}" placeholder="BookVault@gmail.com" required>
        </label>

        <button type="submit" class="btn">Register</button>
    </form>

    <div class="link">
        <a th:href="@{/login}">Already have an account?</a>
    </div>
</div>
</body>
</html>
