apiVersion: v1
kind: Service
metadata:
  name: admin
spec:
  type: {{ .Values.service.type }}
  selector:
    app: admin
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8087
      name: http
